.bp4-card {
  margin-top: 10px;
  border-radius: 8px;
}

.bp4-drawer {
  border-radius: 8px 0 0 8px;
}

.bp4-dialog {
  border-radius: 8px;
  background-color: white;
}

.bp4-navbar-heading {
  font-size: 22px;
  font-weight: bold;
}

.bp4-button {
  border-radius: 8px;
}

#navbar-source_info .bp4-blockquote {
  font-size: 14px;
}

#navbar-source_info .bp4-alert-footer .bp4-button {
  background: none;
}

.bp4-navbar {
  border-radius: 8px;
  margin-top: 10px;
}

.bp4-tab {
  font-size: 20px;
}

.footer {
  padding: 20px 5px;
}

body {
  /* background-color: rgba(166, 213, 224, 0.3); */
  min-height: 600px;
  margin: 0;

  .tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

.leaflet-left.leaflet-top {
  z-index: 0;
}

.leaflet-left.leaflet-bottom {
  z-index: 0;
}

.leaflet-right.leaflet-bottom {
  z-index: 0;
}

.leaflet-control.leaflet-control-attribution {
  max-height: 0;
}
